@tailwind base;
@tailwind components;
@tailwind utilities;

/* global */
* {
  @apply font-poppins text-dark;
}

body {
  @apply bg-white;
}

h1 {
  @apply font-bold text-5xl 2xsm:text-6xl leading-normal;
}
h2 {
  @apply font-bold text-4xl 2xsm:text-45/sp leading-normal;
}
h3 {
  @apply font-bold text-3xl leading-normal;
}
h4 {
  @apply font-bold text-xl 2xsm:text-2xl leading-normal;
}
h5 {
  @apply font-bold text-xl leading-normal;
}
h6 {
  @apply font-bold text-lg leading-normal;
}
p {
  @apply text-sm 2xsm:text-base leading-normal;
}

/* container */
.containers {
  @apply container mx-auto max-w-screen-xl px-18/sp xs:px-12 py-100/sp;
}

/* button */
.button-fill {
  @apply text-lg text-white font-semibold px-30/sp py-4 rounded-2xl bg-primary-900 hover:bg-primary-600 shadow-red;
}
.button-gradient {
  @apply text-lg text-white font-semibold px-30/sp py-4 rounded-2xl bg-gradient-to-bl from-orange-900 to-primary-900 hover:from-primary-900 hover:to-orange-900 shadow-red;
}
.button-white {
  @apply text-lg text-dark font-semibold px-30/sp py-4 rounded-2xl bg-white hover:text-primary-900 shadow-red;
}
.button-gradient-sm {
  @apply text-base text-white font-semibold px-5 py-2 rounded-2xl bg-gradient-to-bl from-orange-900 to-primary-900 hover:from-primary-900 hover:to-orange-900 shadow-red;
}
.button-fill-sm {
  @apply text-base text-white font-semibold px-5 py-2 rounded-2xl bg-primary-900 hover:bg-primary-600 shadow-red;
}
.button-white-sm {
  @apply text-base text-dark font-semibold px-5 py-2 rounded-2xl bg-white hover:text-primary-900 shadow-red;
}

/* form */
.input-field {
  @apply w-full bg-white py-4 pr-6 pl-14 rounded-2xl border-secondary-800 border focus:outline-none focus:border-orange-900;
}
.input-password-field {
  @apply w-full bg-white py-4 px-14 rounded-2xl border-secondary-800 border focus:outline-none focus:border-orange-900;
}
.input-field-sm {
  @apply w-full bg-white py-4 pl-6 pr-16 rounded-2xl border-secondary-800 border focus:outline-none focus:border-orange-900;
}

/* utilities */
.transition-200 {
  @apply transition duration-200 ease-in-out;
}
.transition-all-200 {
  @apply transition-all duration-200 ease-in-out;
}
